@import 'font';

:host {
  //display: block;
}

.call-headers {
  display: flex;
  flex-direction: column;

  .title {
    @include font-heading;
    padding-bottom: 12px;
  }

  .container {
    overflow: auto;
    flex: 1;
  }
}
