@import 'font';

.call-headers {
  display: flex;
  flex-direction: column;

  .title {
    @include font-heading;
    padding-bottom: 12px;
  }

  .container {
    overflow: auto;
    flex: 1;

    .record-value {
      width: 100%;
      display: grid;
      grid-template-columns: auto min-content;

      .filter-button {
        display: flex;
        align-items: center;
        margin-bottom: 2px;
        visibility: hidden;
      }

      &:hover .filter-button {
        visibility: visible;
      }
    }
  }
}
