@import 'color-palette';
@import 'font';
@import 'layout';

.paginator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: $paginator-height;
  border-top: 1px solid $color-border;
  gap: 8px;
  padding-top: 6px;

  .label {
    @include body-1-regular($gray-9);
  }

  .pagination-buttons {
    display: flex;
    margin: 0 24px 0 12px;
  }

  .previous-button {
    ::ng-deep {
      .button {
        width: 80px;
        border-radius: 20px 0 0 20px;
        border-color: $gray-2;
      }
    }

    &.compact {
      ::ng-deep {
        .button {
          width: 32px;
          border-radius: 6px 0 0 6px;
          border-color: $gray-2;
        }
      }
    }
  }

  .next-button {
    ::ng-deep {
      .button {
        width: 80px;
        border-radius: 0 20px 20px 0;
        border-color: $gray-2;
      }
    }

    &.compact {
      ::ng-deep {
        .button {
          width: 32px;
          margin-left: -1px;
          border-radius: 0 6px 6px 0;
          border-color: $gray-2;
        }
      }
    }
  }

  &.compact {
    .pagination-buttons {
      margin: 0 12px;
    }
  }
}
