@import 'color-palette';
@import 'font';
@import 'layout';

.paginator {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $paginator-height;
  padding: 6px 0;
  border-top: 1px solid $color-border;

  .label {
    @include body-1-regular($gray-5);
  }

  .page-size-select {
    margin-left: 12px;
  }

  .pagination-buttons {
    display: flex;
    margin: 0 24px 0 12px;
  }

  .previous-button {
    ::ng-deep {
      .button {
        width: 32px;

        border-radius: 6px 0 0 6px;
        border-color: $gray-2;
      }
    }
  }

  .next-button {
    ::ng-deep {
      .button {
        width: 32px;
        margin-left: -1px;

        border-radius: 0 6px 6px 0;
        border-color: $gray-2;
      }
    }
  }
}
