@import 'color-palette';
@import 'font';
@import 'layout';

.paginator {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $paginator-height;
  padding: 6px 0;
  border-top: 1px solid $color-border;

  .label {
    @include body-1-regular($gray-5);
  }

  .page-size-select {
    min-width: 86px;
    margin-left: 12px;
  }

  .pagination-buttons {
    display: flex;
    margin: 0 24px 0 12px;
  }

  .previous-button {
    ::ng-deep {
      .button {
        border-radius: 4px 0 0 4px;
      }
    }
  }

  .next-button {
    ::ng-deep {
      .button {
        border-radius: 0 4px 4px 0;
        margin-left: -1px;
      }
    }
  }
}
