@import 'font';
@import 'color-palette';
@import 'interaction';

@mixin button-style(
  $background-color,
  $background-color-hover,
  $text-color,
  $text-color-hover,
  $border-color: currentcolor
) {
  @if $border-color != currentcolor {
    border: 1px solid $border-color;
  }

  background-color: $background-color;
  color: $text-color;

  &:not(.disabled):hover {
    background-color: $background-color-hover;
    color: $text-color-hover;
  }
}

.button-container {
  display: flex;
  align-items: center;
}

.button {
  @include disableable;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
  height: 100%;

  .icon {
    color: inherit;
  }

  .conditional-padding {
    margin-left: 4px;
  }

  &:focus {
    outline: 0;
  }
}

.solid {
  &.primary {
    @include button-style($blue-5, $blue-4, white, white);
  }

  &.secondary {
    @include button-style($gray-7, $gray-5, white, white);
  }

  &.tertiary {
    @include button-style($gray-1, $gray-2, $gray-7, $gray-7);
  }

  &.destructive {
    @include button-style($red-5, $red-7, white, white);
  }

  &.additive {
    @include button-style($green-5, $green-6, white, white);
  }
}

.bordered {
  &.primary {
    @include button-style(inherit, $blue-1, $gray-7, $gray-7, $blue-5);
  }

  &.secondary {
    @include button-style(inherit, $gray-1, $gray-7, $gray-7, $gray-7);
  }

  &.tertiary {
    @include button-style(inherit, $gray-1, $gray-7, $gray-7, $gray-2);
  }

  &.destructive {
    @include button-style(inherit, $red-1, $gray-7, $gray-7, $red-5);
  }

  &.additive {
    @include button-style(inherit, $green-1, $gray-7, $gray-7, $green-5);
  }
}

.outlined {
  &.primary {
    @include button-style(inherit, $blue-1, $blue-5, $blue-5);
  }

  &.secondary {
    @include button-style(inherit, $gray-1, $gray-7, $gray-7);
  }

  &.tertiary {
    @include button-style(inherit, $gray-1, $gray-5, $gray-5);
  }

  &.destructive {
    @include button-style(inherit, $red-1, $red-5, $red-5);
  }

  &.additive {
    @include button-style(inherit, $green-1, $green-5, $green-5);
  }
}

.text,
.plain-text {
  &.primary {
    @include button-style(inherit, inherit, $blue-5, $blue-4);
  }

  &.secondary {
    @include button-style(inherit, inherit, $gray-7, $gray-5);
  }

  &.tertiary {
    @include button-style(inherit, inherit, $gray-5, $gray-6);
  }

  &.destructive {
    @include button-style(inherit, inherit, $red-5, $red-7);
  }

  &.additive {
    @include button-style(inherit, inherit, $green-5, $green-6);
  }
}

.disabled {
  opacity: 0.4;
}

.large {
  height: 40px;
  border-radius: 8px;

  &:not(.icon-only, .plain-text) {
    padding: 0 20px;
  }

  .label {
    @include body-1-medium();
    color: inherit;
  }
}

.medium {
  height: 36px;
  border-radius: 6px;

  &:not(.icon-only, .plain-text) {
    padding: 0 16px;
  }

  .label {
    @include body-1-medium();
    color: inherit;
  }
}

.small {
  height: 32px;
  border-radius: 6px;

  &:not(.icon-only, .plain-text) {
    padding: 0 16px;
  }

  .label {
    @include body-1-medium();
    color: inherit;
  }
}

.extra-small {
  height: 24px;
  border-radius: 4px;

  &:not(.icon-only, .plain-text) {
    padding: 0 12px;
  }

  .label {
    @include body-2-medium();
    color: inherit;
  }
}

.tiny {
  height: 18px;
  border-radius: 4px;

  &:not(.icon-only, .plain-text) {
    padding: 0 12px;
  }

  .label {
    @include footnote();
    color: inherit;
  }
}
