@import 'mixins';

.time-range {
  display: flex;
  align-items: center;
}

.time-range-selector {
  @include top-bar-dark-button-background;
  @include top-bar-dark-button-foreground;
  min-width: 200px;
  border-radius: 6px;
}

.trigger {
  display: flex;
  align-items: center;
  height: 36px;
  cursor: pointer;

  .trigger-icon {
    padding-left: 8px;
  }

  .trigger-label {
    padding: 0 8px;
    flex: 1 1 auto;
  }

  .trigger-caret {
    padding-right: 12px;
  }
}

.popover-content {
  @include dropdown();

  .predefined {
    width: 198px;
  }
}

.refresh {
  margin-left: 8px;
  &:not(.emphasized) {
    ::ng-deep {
      button.button.solid {
        @include top-bar-dark-button-background;
        .label {
          @include top-bar-dark-button-foreground;
        }
      }
    }
  }
}
