@import 'mixins';

@mixin time-range-button-background {
  background-color: white;

  &:hover {
    background-color: $gray-1;
  }
}

@mixin time-range-buttons() {
  @include time-range-button-background;
  @include body-1-medium($gray-6);
  border: 1px solid $gray-3;
  height: 34px;
  display: flex;
  align-items: center;
}
.time-range {
  display: flex;
  align-items: center;
}

.time-range-selector {
  @include time-range-buttons;
  border-radius: 6px;
}

.trigger {
  display: flex;
  align-items: center;
  height: 36px;
  cursor: pointer;

  .trigger-icon {
    padding-left: 8px;
  }

  .trigger-label {
    padding: 0 8px;
    flex: 1 1 auto;
  }

  .trigger-caret {
    padding-right: 12px;
  }
}

.popover-content {
  @include dropdown();

  .predefined {
    width: 198px;
  }
}

.refresh {
  margin-left: 8px;

  ::ng-deep {
    button.button.solid {
      height: 34px;
      display: flex;
      align-items: center;
    }
  }
  &.emphasized {
    ::ng-deep {
      button.button.solid {
        background-color: $gray-2;
        border: 1px solid $gray-2;
        &:hover {
          background-color: $gray-1;
        }
        .label {
          color: $gray-9;
        }
      }

      .icon.leading {
        color: $gray-6;
      }
    }
  }

  &:not(.emphasized) {
    ::ng-deep {
      button.button.solid {
        @include time-range-button-background;
        border: 1px solid $gray-3;
        .label {
          @include body-1-medium($gray-6);
        }
        .icon.leading {
          color: $gray-6;
        }
      }
    }
  }
}
