@use 'mixins' as m;

.edit-modal {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 6px;

  .reset-button {
    margin-left: 18px;
  }

  .column-items {
    height: 100%;
    overflow: auto;
    padding: 0 12px;
    margin-top: 8px;
    border-top: 1px solid m.$gray-2;
  }

  .controls {
    display: flex;
    border-top: 1px solid m.$gray-2;
    padding: 20px 12px 0 12px;
    justify-content: space-between;
    align-items: center;
  }
}

.column-item-container {
  height: 36px;
  padding: 2px 8px;
  cursor: move;
  background: white;

  display: flex;
  align-items: center;

  .vertical-grab-handle-icon {
    color: m.$gray-3;
    align-self: center;
    cursor: move;
  }

  .checkbox {
    margin-left: 14px;
    cursor: pointer;
  }

  &:hover {
    background: m.$gray-1;
  }

  &:active {
    @include m.raised-shadow-hover();
    border: none;
  }
}
