@import 'mixins';

.nav-item {
  @include font-left-nav-label;
  @include raised-shadow-hover();
  color: $gray-7;
  display: flex;
  height: 36px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;

  .label-container {
    flex-grow: 1;
    margin-left: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .beta {
      margin-left: 8px;
    }
  }

  .icon {
    color: $gray-1;
  }

  .label {
    flex: 1;
    @include body-1-medium($gray-2);
  }

  &.active {
    @include nav-primary-background;

    &:hover {
      background-color: $blue-5;
    }

    .label {
      color: white;
    }

    .icon {
      color: white;
    }
  }

  &:hover {
    @include nav-primary-background;
  }

  .soon-container {
    flex: 0;
    @include center-contents;
  }

  .soon {
    background: $color-text-highlight;
    border-radius: 2px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    padding: 2px 4px;
  }
}

:hover {
  cursor: pointer;
}
