@import 'mixins';

.nav-item {
  @include font-left-nav-label;
  //@include box-shadow-2dp();
  @include raised-shadow-hover();
  color: $gray-7;
  display: flex;
  height: 36px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;

  .label-container {
    flex-grow: 1;
    margin-left: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .beta {
      margin-left: 8px;
    }
  }

  .icon {
    color: $gray-4;
  }

  .label {
    flex: 1;
    @include body-1-medium($gray-6);
  }

  &.active {
    background-color: $gray-2;

    .label {
      color: $gray-9;
    }

    .icon {
      color: $gray-6;
    }

    &:hover {
      background-color: $gray-1;
    }
  }

  &:hover {
    background-color: $gray-1;
  }

  .soon-container {
    flex: 0;
    display: flex;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
  }

  .soon {
    background: $color-text-highlight;
    border-radius: 2px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    padding: 2px 4px;
  }
}

:hover {
  cursor: pointer;
}
