@import 'font';
@import 'color-palette';

.ht-link {
  display: flex;
  align-items: center;
  text-decoration-line: none;
  text-decoration: none;
  color: inherit;

  &:not(.disabled) {
    @include link-hover;
  }

  .disabled {
    pointer-events: none;
  }
}
