@import 'font';

.space-selector-wrapper {
  @include body-1-medium(white);
  width: 148px;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .space-selector {
    padding: 4px 12px;
  }
}
