@import 'font';
@import 'color-palette';

.ht-summary-values {
  display: flex;
  flex-direction: row;
  align-items: center;

  .additional-values {
    margin-left: 8px;
    background: $gray-2;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;

    .count {
      @include overline($gray-7);
    }
  }
}

.tooltip-contents {
  display: flex;
  flex-direction: column;

  .divider {
    width: 100%;
    border-bottom: 1px solid white;
  }

  .value {
    @include body-small(white);
  }
}
