@import 'color-palette';

:host {
  ::ng-deep {
    .border {
      &.mat-form-field {
        height: inherit;
        width: inherit;
      }
      &.mat-focused {
        .mat-form-field-label {
          color: $gray-5;
        }
      }
      .mat-form-field-underline {
        display: none;
      }
      .mat-form-field-infix {
        height: inherit;
        width: inherit;
        border: unset;
        padding: 0 0 0 8px;
      }
      .mat-form-field-flex {
        height: inherit;
        width: inherit;
      }
      .mat-form-field-wrapper {
        height: inherit;
        width: inherit;
        padding-bottom: 0;

        .mat-form-field-label {
          padding: 0 0 0 8px;
          line-height: initial;
          color: $gray-5;
        }
      }
      .mat-input-element {
        height: inherit;
        width: inherit;
        margin: 0;

        &:after {
          width: unset;
          margin: 4px;
        }
      }
    }
  }
}
