@import 'font';
@import 'color-palette';

.ht-panel {
  display: flex;
  flex-direction: column;

  .header {
    border-radius: 2px;

    &.expanded {
      padding-bottom: 8px;
    }

    .header-content {
      display: inline-block;
    }
  }

  .body {
    flex: 1;
    overflow: auto;
    height: 100%;
    padding: 0 12px 12px;
  }

  .collapsed-body {
    flex: 1;
    overflow: auto;
    height: 100%;
    padding: 0 12px 12px;
  }

  &.bordered {
    border: 1px solid $gray-2;
    border-radius: 10px;
  }
}

.disabled {
  opacity: 0.4;
}
