@import 'font';
@import 'color-palette';

.ht-panel {
  padding: 4px;
  display: flex;
  flex-direction: column;

  .header {
    border-radius: 2px;

    &.expanded {
      margin-bottom: 8px;
    }

    .header-content {
      display: inline-block;
    }
  }

  .body {
    flex: 1;
    overflow: auto;
    height: 100%;
  }
}

.disabled {
  opacity: 0.4;
}
