@import 'mixins';

.ht-copy-to-clipboard {
  display: flex;
  cursor: pointer;
  padding: 2px 0;

  .label {
    @include body-small($blue-5);
    margin-left: 4px;
  }
}

.notification {
  width: 75px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gray-9;

  border-radius: 4px;
  @include dropdown-box-shadow();

  .label {
    @include body-2-medium(white);
  }
}
