@import 'mixins';

:host {
  ::ng-deep {
    .mat-step-header {
      .mat-step-label {
        @include overline($gray-5);
        text-transform: uppercase;
      }

      .mat-step-label-selected {
        @include overline($gray-7);
        text-transform: uppercase;
      }

      .mat-step-icon {
        @include overline(white);
        @include frame-border;
        border-color: $blue-4;
        color: $blue-4;
      }

      .mat-step-icon-selected {
        background-color: $blue-4;
        color: white;
      }
    }
  }
}

.stepper {
  @include flex-layout(column);
  justify-content: space-between;

  .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .back-next {
      display: flex;
      gap: 16px;
    }
  }
}
