@import 'mixins';

:host {
  ::ng-deep {
    .mat-step-header {
      .mat-step-label {
        @include overline($gray-5);
        text-transform: uppercase;
      }

      .mat-step-label-selected {
        @include overline($gray-7);
        text-transform: uppercase;
      }

      .mat-step-icon {
        @include overline(white);
        @include frame-border;
        border-color: $blue-4;
        color: $blue-4;
      }

      .mat-step-icon-selected {
        background-color: $blue-4;
        color: white;
      }
    }

    .mat-stepper-horizontal {
      height: 100%;

      display: flex;
      flex-direction: column;
    }

    .mat-horizontal-content-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      padding-bottom: 54px;
    }
  }
}

.stepper {
  @include flex-layout(column);
  justify-content: space-between;
  position: relative;

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid $gray-1;
    padding-top: 8px;
    z-index: 20;

    .action-buttons {
      display: flex;
      justify-content: space-between;

      .back-next {
        display: flex;
        gap: 16px;
      }
    }
  }
}
