.ht-summary-box {
  .summary-text {
    padding: 0 6px;
    margin-left: 8px;
    border-radius: 4px;
  }

  .tooltip-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
