@import 'font';
@import 'interaction';

.ht-timeline-card-list {
  display: flex;
  flex-direction: column;
  padding-left: 1px;
  padding-right: 1px;

  .button {
    margin-top: 8px;

    &.with-margin {
      margin-left: 88px;
    }
  }

  .card {
    margin-top: 8px;
    display: flex;

    .time {
      width: 74px;
      margin-right: 16px;

      display: flex;
      flex-direction: column;
      align-items: center;

      .value {
        @include body-small($gray-4);
        white-space: nowrap;
        margin-top: 12px;
        margin-bottom: 8px;
      }

      .vertical-line {
        flex: 1 1 auto;
        width: 2px;
        background-color: $gray-2;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      width: 100%;
      box-sizing: border-box;
      border-radius: 6px;
      border: 1px solid $gray-2;
      @include card-hover;

      &.selected-card {
        background: $blue-1;
        border: 1px solid $blue-2;

        &:hover {
          background: $blue-2;
          border: 1px solid $blue-5;
          cursor: pointer;
        }
      }

      &:hover {
        border: 1px solid transparent;
      }
    }

    &:last-child {
      .time {
        .vertical-line {
          display: none;
        }
      }
    }
  }
}
