@import 'font';
@import 'color-palette';

.number-input {
  @include body-2-regular($gray-9);
  width: inherit;
  height: inherit;
  background: white;
  text-align: center;
}

.border {
  border: 1px solid $gray-2;
  border-radius: 6px;

  &:hover {
    border-color: $gray-4;
  }
}

.underline {
  border: none;
  border-bottom: 1px solid $gray-2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
