@import 'mixins';

.combo-box {
  display: flex;
  height: inherit;
  width: inherit;
}

.popover-trigger {
  display: flex;
  align-items: center;
  height: inherit;
  width: inherit;
  border-radius: 6px;

  &.show-border {
    border: 1px solid $color-border;
  }

  &.chip {
    border: 1px solid transparent;

    .trigger-clear-button {
      color: $gray-4;
    }

    &:hover {
      background-color: $gray-1;

      .trigger-clear-button {
        color: $gray-3;

        &:hover {
          color: $gray-5;
        }
      }
    }

    &:not(.input-focused).has-text {
      background-color: $gray-2;

      &:hover {
        background-color: $gray-1;
      }
    }
  }

  &.disabled {
    background-color: $gray-2;
    .trigger-input {
      color: black;
    }
  }

  .trigger-control {
    height: 100%;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trigger-icon {
    color: inherit;
    cursor: pointer;
  }

  .trigger-input {
    @include ellipsis-overflow();
    font: inherit;
    background: inherit;
    width: 100%;
    border: none;
    margin-left: 12px; // Need this so that the border radius of container isn't cut off when no icons
    outline: none;
  }

  .invisible-text {
    font: inherit;
    position: absolute;
    visibility: hidden;
    height: 0;
    white-space: nowrap;
  }

  .trigger-clear-button {
    color: $gray-3;
    cursor: pointer;
    visibility: hidden;
    margin-right: 8px;

    &.has-text {
      visibility: visible;
    }

    &.chip:not(.input-focused) {
      visibility: visible;

      &:not(.has-text) {
        display: none;
      }
    }

    &:hover {
      color: $blue-5;
    }
  }
}

.popover-content {
  @include dropdown();
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  max-height: 400px;

  .option-list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }

  .popover-item {
    @include body-1-regular($gray-7);
    height: 36px;
    padding: 2px 12px;
    cursor: pointer;

    display: flex;
    align-items: center;

    .option-icon {
      padding-right: 10px;
    }

    &:hover {
      background: $gray-1;
    }

    &.selected {
      background: $blue-1;
    }
  }

  .option-divider {
    border-top: 1px solid $gray-2;
    margin: 0 12px;
  }

  .create-option {
    min-height: 36px;
  }
}
