.table-controls {
  display: flex;
  padding-bottom: 16px;
  justify-content: space-between;

  .control {
    &:not(:first-child) {
      margin-left: 12px;
    }
  }

  .filter-controls {
    display: flex;

    .search-box {
      width: 256px;
    }
  }

  .filter-checkbox {
    display: flex;
    align-items: center;
  }
}
