@import 'color-palette';

.notification-container {
  display: flex;
  background-color: $gray-7;
  color: white;
  align-items: center;
  padding: 8px 12px;
  width: fit-content;

  box-shadow: 0 2px 4px rgba(63, 71, 74, 0.14), 0 4px 5px rgba(63, 71, 74, 0.12), 0 1px 8px rgba(63, 71, 74, 0.16);
  border-radius: 6px;

  .status-icon {
    margin-right: 10px;
  }

  .text {
    margin-right: 20px;
  }

  .dismiss-icon {
    color: white;
    cursor: pointer;
  }
}

.success {
  color: $green-5;
}

.failure {
  color: $red-5;
}

.info {
  color: $blue-3;
}
