@import 'color-palette';
@import 'font';

$border: 1px solid $gray-2;

.table-expanded-cell-renderer {
  padding: 12px 12px 8px 32px;

  &.expanded {
    border: $border;
    border-top: none;
  }

  .expandable-column-row {
    overflow: hidden;
  }
}
