@import 'layout';

:host {
  @include fill-container();
}

.custom-templated-message {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
