@import 'color-palette';
@import 'font';

.beta-tag {
  @include overline($purple-5);

  width: 46px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($purple-2, 0.15);
  border-radius: 8px;
}
