@import 'font';
@import 'layout';

.header {
  display: flex;
  flex-flow: row wrap;
}

.title {
  flex: 1 1 auto;
  display: flex;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.02em;
  overflow: hidden;

  .service-name {
    color: $gray-9;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  .protocol-name {
    color: $gray-5;
    padding-left: 6px;
    display: flex;
    align-items: center;
  }

  .api-name {
    color: $gray-5;
    padding: 0 6px;
    min-width: 0;
    display: flex;
    align-items: center;

    .text {
      @include ellipsis-overflow;
    }
  }
}

.controls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  color: $gray-9;

  .vertical-divider {
    @include vertical-divider();
  }
}
