@import 'mixins';

.navigation-list {
  @include nav-secondary-background;
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  justify-content: space-between;

  .content {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 18px 0 12px 12px;

    .nav-header {
      padding-top: 24px;
      padding-left: 14px;
      padding-bottom: 8px;

      display: flex;
      align-items: center;

      .label {
        @include overline($blue-2);
      }

      .beta {
        margin-left: 4px;
      }
    }
  }

  .resize-tab-button {
    @include nav-secondary-background;
    position: absolute;
    display: flex;
    align-items: center;
    top: 22px;
    right: -12px;
    height: 28px;
    width: 12px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    color: white;

    &:hover {
      color: $gray-4;
    }

    .resize-icon {
      position: absolute;
      right: 0;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    position: relative;
    color: $gray-5;
    padding: 8px 12px 18px;

    .footer-item {
      display: flex;
      align-items: center;
      justify-content: center;

      .nav-group-icon {
        height: 190px;
        opacity: 0.15;
        color: $blue-gray-4;
      }

      .nav-group-label {
        margin: 10px auto 0 0;
        padding-right: 20px;
        font-size: 24px;
        font-weight: bold;
        color: $gray-4;
      }

      .link {
        margin-right: auto;
        @include link;
        @include footnote($gray-5);
      }
    }

    .nav-divider {
      margin: 12px auto 8px 0;
      height: 1px;
      width: 16px;
      background-color: $gray-4;
    }
  }

  &:not(.expanded) {
    .footer .footer-item .link {
      margin-right: 0;
    }

    .footer .nav-divider {
      margin: 8px auto;
    }

    .content {
      padding: 18px 0 12px 0;
    }
  }

  &:not(.navigation-dark) {
    background: white;

    .content {
      padding: 18px 12px;
    }
    &:not(.expanded) {
      .content {
        padding: 18px 12px;
      }
    }

    .content .nav-header .label {
      @include overline($gray-9);
    }

    .footer {
      margin-left: 6px;

      .footer-item {
        margin-left: 12px;
        justify-content: unset;
      }
      .nav-divider {
        position: absolute;
        top: 0;
        left: 24px;
        margin: 0;
        height: 1px;
        width: 16px;
        background-color: $gray-2;
        border: none;
      }
    }

    .resize-tab-button {
      border: 1px solid $gray-2;
      border-left-color: white;
      color: $gray-7;
      background: white;
    }
  }
}

.expanded {
  width: 244px;
}
