@import 'mixins';

.navigation-list {
  @include nav-secondary-background;
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  justify-content: space-between;

  .content {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 18px 0 12px 12px;

    .nav-header {
      padding-top: 24px;
      padding-left: 14px;
      padding-bottom: 8px;

      display: flex;
      align-items: center;

      .label {
        @include overline($blue-2);
      }

      .beta {
        margin-left: 4px;
      }
    }
  }

  .resize-tab-button {
    @include nav-secondary-background;
    position: absolute;
    display: flex;
    align-items: center;
    top: 22px;
    right: -12px;
    height: 28px;
    width: 12px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    color: white;

    &:hover {
      color: $gray-4;
    }

    .resize-icon {
      position: absolute;
      right: 0;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    position: relative;
    color: $gray-5;
    padding: 8px 12px 18px;

    .footer-item {
      display: flex;
      align-items: center;
      justify-content: center;

      .footer-icon {
        height: 190px;
        opacity: 0.15;
        color: $blue-gray-4;
      }

      .label {
        margin: 10px auto 0 0;
        padding-right: 20px;
        font-size: 24px;
        font-weight: bold;
        color: $gray-4;
      }

      .link {
        margin-right: auto;
        @include link;
        @include footnote($gray-5);
      }
    }

    .nav-divider {
      position: absolute;
      top: 0;
      left: 24px;
      margin: 0;
      height: 1px;
      width: 16px;
      background-color: $gray-2;
      border: none;
    }
  }
}

.expanded {
  width: 244px;
}

// Temporary fix to maintain backward compatibility with settings, self serve, and preferences navigation.
// Alternatively we could do this with ng-deep from parents
// OR have multiple files in styleUrls to contain this for now ?
:host(.settings-navigation, .preferences-navigation, .self-service-navigation) {
  .navigation-list {
    background: white;

    .content .nav-header .label {
      @include overline($gray-9);
    }

    .resize-tab-button {
      border: 1px solid $gray-2;
      border-left-color: white;
      color: $gray-7;
      background: white;
    }
    .content {
      ::ng-deep {
        .nav-item {
          border-radius: 4px;
          .icon {
            color: $gray-4;
          }
          .label {
            @include body-1-medium($gray-6);
          }

          &:hover {
            .icon {
              color: white;
            }
            .label {
              color: white;
            }
          }

          &.active {
            .icon {
              color: white;
            }
            .label {
              color: white;
            }
          }
        }
      }
    }
  }
}
