@import 'mixins';

:host {
  width: 100%;
  max-width: 240px;

  .select {
    .trigger-label {
      min-width: 0;
    }
  }
}

.select {
  display: flex;
  align-items: center;
  border: 1px solid $color-border;
  border-radius: 6px;
  height: 100%;
  width: 100%;

  .select-container {
    width: 100%;
  }

  &.disabled {
    opacity: 0.4;
  }

  &.border {
    &.group-right {
      border-radius: 0 2px 2px 0;
      margin-left: -1px;
    }

    &.group-left {
      border-radius: 2px 0 0 2px;
    }

    &.group-center {
      border-radius: 0;
      margin-left: -1px;
    }

    &.ungrouped {
      border-radius: 2px;
    }
  }

  .trigger-content {
    display: flex;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
    height: 34px;

    &.justify-left {
      justify-content: flex-start;
    }

    &.justify-right {
      justify-content: flex-end;
    }

    &.justify-center {
      justify-content: center;
    }

    .trigger-prefix-icon {
      padding-right: 8px;
    }

    .trigger-label {
      @include body-2-medium();
      padding-left: 8px;
    }

    .trigger-icon {
      padding: 0 8px;
      margin-left: auto;
      color: $gray-7;
    }
  }
}

.select-content {
  @include dropdown();
  min-width: 120px;
  max-height: 204px;

  .select-option {
    display: flex;
    height: 34px;
    padding: 4px 16px;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;

    .label {
      padding-right: 8px;
    }

    .status-icon {
      color: $green-5;
    }

    &:hover {
      background: $gray-1;
    }
  }
}
