@import 'mixins';

:host {
  width: 100%;
  max-width: 240px;

  .select {
    .trigger-label {
      min-width: 0;
    }
  }
}

.select {
  @include disableable;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 34px;

  &.small {
    height: 32px;
  }

  &.large {
    height: 44px;
  }

  .select-container {
    width: 100%;
    height: 100%;
  }

  &.border {
    &.group-right {
      border-radius: 0 2px 2px 0;
      margin-left: -1px;
    }

    &.group-left {
      border-radius: 2px 0 0 2px;
    }

    &.group-center {
      border-radius: 0;
      margin-left: -1px;
    }

    &.ungrouped {
      border-radius: 2px;
    }
  }

  .trigger-container {
    width: 100%;
    height: 100%;
  }

  .trigger-content {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 100%;

    &.menu-with-border {
      border: 1px solid $color-border;
      border-radius: 6px;
    }

    &.justify-left {
      justify-content: flex-start;
    }

    &.justify-right {
      justify-content: flex-end;
    }

    &.justify-center {
      justify-content: center;
    }

    .trigger-prefix-icon {
      padding-right: 8px;
    }

    .trigger-label {
      @include body-2-medium();
      padding-left: 8px;
    }

    .trigger-icon {
      padding: 0 8px;
      margin-left: auto;
      color: $gray-7;
    }
  }

  .icon-only {
    display: flex;
    align-items: center;

    .icon {
      padding: 6px;
      border: 1px solid white;
      box-sizing: border-box;

      &:hover {
        background: $blue-1;
        border: 1px solid $blue-2;
        border-radius: 50%;
      }
    }

    &.selected {
      color: $blue-5;
    }
  }
}

.select-content {
  @include dropdown();
  max-height: 204px;

  .select-option {
    display: flex;
    height: 34px;
    padding: 4px 16px;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;

    .select-option-info {
      display: flex;
      flex-direction: row;
      align-items: center;

      & > * {
        margin-right: 8px;
      }
    }

    .label {
      padding-right: 8px;
    }

    .status-icon {
      color: $green-5;
    }

    &:hover {
      background: $gray-1;
    }

    &.small {
      height: 32px;
    }

    &.large {
      height: 44px;
    }
  }
}
