@import 'mixins';

.titled-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .header {
    max-height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.center {
      justify-items: center;
    }

    &.space-between {
      justify-content: space-between;
    }

    .link {
      &.regular {
        margin-left: 20px;
        margin-top: 14px;
      }

      &.grayed-out {
        margin: 0 16px 12px 16px;
      }
    }

    .controls {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }

    .title {
      &.regular {
        @include overline($gray-9);
        margin-top: 16px;
      }

      &.grayed-out {
        @include overline($gray-5);
        height: 12px;
        margin-bottom: 12px;
      }
    }
  }

  .header:has(.title .grayed-out) {
    margin-bottom: 12px;
  }

  .content {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    overflow: hidden;
  }

  .footer {
    .title {
      margin-top: 8px;
    }

    &.regular {
      @include overline($gray-4);
    }

    &.grayed-out {
      @include overline($gray-5);
    }
  }
}
