@import 'mixins';
@import 'layout';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title-row {
  display: flex;
  align-items: center;
  height: 36px;
  min-height: 36px;
  @include overline($gray-4);
}

.table {
  width: 100%;
  overflow: auto;
}

.bottom-margin {
  margin-bottom: $paginator-height; // Leave space for pagination controls
}

.header-row {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  height: 32px;
  padding: 6px 0;
  background: $gray-1;
  border-bottom: 1px solid $gray-2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 1; // Allows content to use "isolation: isolate" to create a new stacking context with index below the header
}

.data-row {
  display: flex;
  flex-direction: row;
  height: 44px;
  cursor: pointer;

  &.selected-row {
    background: $blue-1;
    border-bottom: 1px solid $blue-2;
    border-top: 1px solid $blue-2;

    &.hovered-row {
      background: $blue-2;
      border-bottom: 1px solid $blue-5;
      border-top: 1px solid $blue-5;
    }
  }

  &.hovered-row {
    background: $gray-1;
  }
}

.header-cell {
  display: flex;
  flex: 1 1 0;
  overflow: hidden;

  .header-cell-renderer {
    width: 100%;
    padding: 4px 12px;
  }

  .header-column-handle {
    padding: 0 2px;
    height: 100%;
    cursor: col-resize;

    .header-column-divider {
      width: 1px;
      height: 100%;
      background-color: $gray-2;
    }
  }
}

.data-cell {
  flex: 1 1 0;
  overflow: hidden;
  border-bottom: 1px solid $gray-1;

  &.detail-expanded {
    border-bottom: unset;
  }

  .data-cell-renderer {
    display: block;
    height: 100%;
  }
}

.table-controls {
  display: flex;
  justify-content: space-between;

  &.right-aligned-table-control {
    justify-content: flex-end;
  }

  .search-box {
    width: 280px;
    margin-bottom: 16px;
  }
}

.state-watcher {
  flex: 1 1;
}

.pagination-controls {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: white;
}
