@import 'mixins';
@import 'layout';

$header-height: 32px;
$header-border-color: #ceddea; // Not in color palette
$header-border: 1px solid $header-border-color;

$data-row-border: 1px solid $gray-2;

.table {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-height: inherit;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.title-row {
  display: flex;
  align-items: center;
  height: 36px;
  min-height: 36px;
  @include overline($gray-4);
}

.bottom-margin {
  margin-bottom: $paginator-height; // Leave space for pagination controls
}

.header-row {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  height: $header-height;
  z-index: 10; // Allows content to use "isolation: isolate" to create a new stacking context with index below the header

  .header-cell {
    background: $blue-1;
    border-bottom: $header-border;
    border-top: $header-border;

    &:first-of-type {
      border-left: $header-border;
      border-top-left-radius: 4px;
    }

    &:last-of-type {
      border-right: $header-border;
      border-top-right-radius: 4px;
    }
  }
}

.data-row {
  display: flex;
  flex-direction: row;

  &.selectable {
    cursor: pointer;
  }

  &.selected-row {
    .data-cell {
      background: $blue-1;
      border-bottom: 1px solid $blue-2;
      border-top: 1px solid $blue-2;
    }

    &.hovered-row {
      .data-cell {
        background: $blue-2;
        border-bottom: 1px solid $blue-5;
        border-top: 1px solid $blue-5;
      }
    }
  }

  &.hovered-row {
    .data-cell {
      background: $gray-1;
    }
  }
}

.header-cell {
  display: flex;
  flex: 1 0;
  overflow: hidden;

  .header-cell-renderer {
    width: 100%;
  }

  .header-column-resize-handle {
    padding: 6px 2px;
    height: 100%;

    &.resizable {
      cursor: col-resize;

      &:hover {
        padding: 0 2px;

        .header-column-divider {
          background-color: $gray-9;
        }
      }
    }

    .header-column-divider {
      width: 1px;
      height: 100%;
      background-color: $header-border-color;
    }
  }
}

.data-cell {
  flex: 1 0;
  overflow: hidden;
  border-bottom: 1px solid $gray-1;
  background-color: white;

  &.detail-expanded {
    border-bottom: unset;
  }

  &.hide-divider {
    border-bottom: unset;
  }

  &:first-of-type {
    border-left: $data-row-border;
  }

  &:last-of-type {
    border-right: $data-row-border;
  }

  .data-cell-renderer {
    display: block;
    height: 100%;
  }
}

.last-row {
  .data-cell {
    border-color: transparent;
  }
}

.state-watcher {
  top: $header-height;
  height: calc(100% - #{$header-height});
  width: 100%;
  position: absolute;
  background: transparent;
}

.pagination-controls {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: white;
}

.state-cell-container {
  @include fill-container;
  @include center-contents;
}

.state-col {
  position: sticky;
  left: 0;
  z-index: 2;

  &:nth-of-type(2) {
    left: 32px;
  }
}

.col-border-right {
  border-right: $data-row-border;
}
