@import 'mixins';
@import 'layout';

.table-container {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr max-content;
  height: 100%;
  width: 100%;
}

.data-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.title-row {
  display: flex;
  align-items: center;
  height: 36px;
  min-height: 36px;
  @include overline($gray-4);
}

.bottom-margin {
  margin-bottom: $paginator-height; // Leave space for pagination controls
}

.header-row {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  height: 32px;
  background: $gray-1;
  border-bottom: 1px solid $gray-2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 10; // Allows content to use "isolation: isolate" to create a new stacking context with index below the header
}

.data-row {
  display: flex;
  flex-direction: row;
  height: 44px;
  min-height: 44px;
  cursor: pointer;

  &.selected-row {
    background: $blue-1;
    border-bottom: 1px solid $blue-2;
    border-top: 1px solid $blue-2;

    &.hovered-row {
      background: $blue-2;
      border-bottom: 1px solid $blue-5;
      border-top: 1px solid $blue-5;
    }
  }

  &.hovered-row {
    background: $gray-1;
  }
}

.header-cell {
  display: flex;
  flex: 1 1;
  overflow: hidden;

  .header-cell-renderer {
    width: 100%;
    padding: 10px 12px;
  }

  .header-column-resize-handle {
    padding: 6px 2px;
    height: 100%;
    cursor: col-resize;

    &:hover {
      padding: 0 2px;

      .header-column-divider {
        background-color: $gray-9;
      }
    }

    .header-column-divider {
      width: 1px;
      height: 100%;
      background-color: $gray-2;
    }
  }
}

.data-cell {
  flex: 1 1;
  overflow: hidden;
  border-bottom: 1px solid $gray-1;

  &.detail-expanded {
    border-bottom: unset;
  }

  .data-cell-renderer {
    display: block;
    height: 100%;
  }
}

.state-watcher {
  height: 100%;
  width: 100%;
  position: absolute;
  background: transparent;
  z-index: 10;
}

.pagination-controls {
  width: 100%;
  height: #{$paginator-height};
  background: white;
}
