@import 'mixins';
@import 'layout';

$header-height: 32px;
.table {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 20px auto;
  width: 100%;
  height: 100%;
}

.cdk-table {
  grid-area: 1 / 1 / 3 / 2;

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.title-row {
  display: flex;
  align-items: center;
  height: 36px;
  min-height: 36px;
  @include overline($gray-4);
}

.bottom-margin {
  margin-bottom: $paginator-height; // Leave space for pagination controls
}

.header-row {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  height: $header-height;
  background: $gray-1;
  border-bottom: 1px solid $gray-2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 10; // Allows content to use "isolation: isolate" to create a new stacking context with index below the header
}

.data-row {
  display: flex;
  flex-direction: row;
  height: 44px;
  min-height: 44px;

  &.selectable {
    cursor: pointer;
  }

  &.selected-row {
    background: $blue-1;
    border-bottom: 1px solid $blue-2;
    border-top: 1px solid $blue-2;

    &.hovered-row {
      background: $blue-2;
      border-bottom: 1px solid $blue-5;
      border-top: 1px solid $blue-5;
    }
  }

  &.hovered-row {
    background: $gray-1;
  }
}

.header-cell {
  display: flex;
  flex: 1 1;
  overflow: hidden;

  .header-cell-renderer {
    width: 100%;
    padding: 10px 12px 10px 7px;
  }

  .header-cell-renderer:first-child {
    padding-left: 12px;
  }

  .header-column-resize-handle {
    padding: 6px 2px;
    height: 100%;

    &.resizable {
      cursor: col-resize;

      &:hover {
        padding: 0 2px;

        .header-column-divider {
          background-color: $gray-9;
        }
      }
    }

    .header-column-divider {
      width: 1px;
      height: 100%;
      background-color: $gray-2;
    }
  }
}

.data-cell {
  flex: 1 1;
  overflow: hidden;
  border-bottom: 1px solid $gray-1;

  &.detail-expanded {
    border-bottom: unset;
  }

  &.hide-divider {
    border-bottom: unset;
  }

  .data-cell-renderer {
    display: block;
    height: 100%;
  }
}

.last-row {
  .data-cell {
    border-color: transparent;
  }
}

.state-watcher {
  top: $header-height;
  height: calc(100% - #{$header-height});
  width: 100%;
  position: absolute;
  background: transparent;
}

.pagination-controls {
  grid-area: 3 / 1 / 4 / 3;
  width: 100%;
  bottom: 0;
  background: white;
}

.table-settings {
  grid-area: 1 / 2 / 2 / 3;
}
