@import 'mixins';

.draggable-list .draggable-item {
  cursor: move;

  &.disabled {
    background-color: $gray-2;
    color: $gray-5;
    cursor: not-allowed;
  }
}

.draggable-list.cdk-drop-list-dragging .draggable-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
