@use '@angular/material' as mat;
// Highlight Js provides few basic themes, here using one of those.
// Since highlight.js provides the class names, we can also use our custom colors/theme as well
@use '~highlight.js/scss/intellij-light';
@import 'shared-globals';

.vertical-flex-layout {
  @include flex-layout(column);
}

.scrollable-container {
  @include scrollable-container();
}

.non-scrollable-container {
  @include non-scrollable-container();
}

.center-contents {
  @include center-contents;
}

.fill-container {
  @include fill-container;
}

// The html, body, and h1 blocks need to be tweaked for our own look, but leaving as is for now
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: white;
  overflow: hidden;
}

button {
  font-family: $font-family;
}

h1 {
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 500;
}

em {
  font-style: normal;
  background: $gray-2;
  border-radius: 4px;
  padding: 2px 4px;
}

q {
  color: $gray-5;
}

mark {
  background-color: $color-text-highlight;
  color: $gray-9;
}

[hidden] {
  display: none !important;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($mat-typography);`
@include mat.all-legacy-component-typographies($mat-typography);
@include mat.legacy-core();
