@import 'shared-globals';
@import '@angular/material/theming';

.vertical-flex-layout {
  @include flex-layout(column);
}

.scrollable-container {
  @include scrollable-container();
}

.non-scrollable-container {
  @include non-scrollable-container();
}

.center-contents {
  @include center-contents;
}

.fill-container {
  @include fill-container;
}

// The html, body, and h1 blocks need to be tweaked for our own look, but leaving as is for now
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: white;
  overflow: hidden;
}

button {
  font-family: $font-family;
}

h1 {
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 500;
}

em {
  font-style: normal;
  background: $gray-2;
  border-radius: 4px;
  padding: 2px 4px;
}

q {
  color: $gray-5;
}

mark {
  background-color: $color-text-highlight;
  color: $gray-9;
}

[hidden] {
  display: none !important;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core(mat-typography-config($font-family: $font-family));
