@import 'font';

:host {
  width: 100%; // Have to style host here, sorry
  height: 100%;
}

.span-detail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .title-header {
    flex: 0;
  }

  .summary-container {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    flex: 0;
  }

  .tabs-group {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
    isolation: isolate;
    margin-top: 18px;
  }
}
