@import 'mixins';

.file-display {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px;
  border: 1px solid $gray-2;
  border-radius: 6px;

  .file-info {
    min-width: 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .basic-detail {
      width: 100%;
      display: flex;
      align-items: center;

      .file-name {
        @include body-1-regular($gray-7);
        @include ellipsis-overflow;
        padding-right: 8px;
        border-right: 1px solid $gray-4;
      }

      .file-size {
        @include body-small($gray-3);
        padding-left: 8px;
      }
    }
  }

  .delete-icon:not(.disabled) {
    cursor: pointer;

    &:hover {
      background-color: $gray-1;
      box-shadow: 0 0 0 8px $gray-1;
      border-radius: 50%;
    }
  }
}
