@import 'font';
@import 'color-palette';

.string-array-cell {
  display: flex;
  align-items: center;

  .item {
    @include ellipsis-overflow();
    padding-right: 8px;
  }

  .tooltip-item {
    padding: 0 6px;
    background-color: $gray-2;
    border-radius: 4px;
  }
}
