@import 'color-palette';
@import 'font';

:host {
  ::ng-deep {
    .waterfall-chart .table {
      overflow: unset;
    }
  }
}

.waterfall-chart {
  display: flex;
  min-height: 180px;
  overflow: auto;
  height: 100%;
  width: 100%;

  .table {
    width: 500px;
    //flex: 1 1;

    .header-cell {
      @include widget-title();
    }
  }

  .sequence {
    flex: 1 1 auto;
    width: 0;

    .chart {
      width: 100%;
      height: 100%;
    }
  }
}
