@import 'mixins';

.datetime-picker {
  display: flex;
  flex-direction: column;

  .datetime-label {
    padding-bottom: 8px;
  }

  .datetime-controls {
    display: flex;
    align-items: center;
  }

  .date-selector {
    height: 32px;
    width: 160px;
    border: 1px solid $gray-1;
  }

  .time-selector {
    height: 32px;
    border: 1px solid $gray-1;
    margin-left: 12px;
  }
}

.popover-trigger {
  display: flex;
  align-items: center;
  height: 32px;
  width: 142px;
  cursor: pointer;

  .trigger-icon {
    padding-left: 8px;
  }

  .trigger-label {
    padding: 0 8px;
    flex: 1 1 auto;
  }

  .trigger-caret {
    padding-right: 8px;
  }
}

.popover-content {
  border: 1px solid $gray-1;
  background: white;
  overflow: auto;
  max-height: 320px;
  width: 120px;
  padding: 8px;

  .popover-item {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 4px;

    @include list-hover;
  }
}
