@import 'color-palette';
@import 'animation';
@import 'font';

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

:host {
  ::ng-deep {
    .entity-edge {
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: currentColor;
      fill: none;

      @include chart-small-regular;

      .entity-edge-metric-bubble {
        @include hide;
      }

      .entity-edge-metric-value {
        @include hide;
      }

      .edge-path {
        stroke-dasharray: 2, 2;
        stroke-width: 1px;
        stroke: $gray-3;
      }

      &.background {
        .entity-edge-metric-bubble,
        .entity-edge-metric-value,
        .edge-path {
          @include transition;
          @include hide;
        }
      }

      &.emphasized,
      &.focused {
        .entity-edge-metric-bubble {
          @include show;
          fill: currentColor;
        }

        .entity-edge-metric-value {
          @include show;
          fill: white;
          stroke: none;
          font-size: 0.8em;
          font-weight: 600;
          text-anchor: middle;
        }

        .edge-path {
          stroke-dasharray: none;
          stroke-width: 1.5px;
          stroke: currentColor;
        }

        &.less-than-20-category {
          color: $blue-gray-1;
        }

        &.from-20-to-100-category {
          color: $blue-gray-2;
        }

        &.from-100-to-500-category {
          color: $blue-gray-3;
        }

        &.from-500-to-1000-category {
          color: $blue-gray-4;
        }

        &.greater-than-or-equal-to-1000-category {
          color: $blue-gray-5;
        }

        &.not-specified-category {
          color: lightgray;
        }

        &.greater-than-or-equal-to-5-error-category {
          color: $red-5;
        }
      }
    }

    .entity-edge-arrow {
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: currentColor;

      &.less-than-20-category {
        color: $blue-gray-1;
      }

      &.from-20-to-100-category {
        color: $blue-gray-2;
      }

      &.from-100-to-500-category {
        color: $blue-gray-3;
      }

      &.from-500-to-1000-category {
        color: $blue-gray-4;
      }

      &.greater-than-or-equal-to-1000-category {
        color: $blue-gray-5;
      }

      &.not-specified-category {
        color: lightgray;
      }

      &.greater-than-or-equal-to-5-error-category {
        color: $red-5;
      }
    }
  }
}
