@import 'color-palette';
@import 'animation';
@import 'font';

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

:host {
  ::ng-deep {
    .entity-edge {
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: $gray-3;
      fill: none;

      @include chart-small-regular;

      .entity-edge-metric-bubble {
        @include hide;
      }

      .entity-edge-metric-value {
        @include hide;
      }

      .edge-path {
        stroke-dasharray: 2, 2;
        stroke-width: 1px;
      }

      &.background {
        .entity-edge-metric-bubble,
        .entity-edge-metric-value,
        .edge-path {
          @include transition;
          @include hide;
        }
      }

      &.emphasized,
      &.focused {
        .entity-edge-metric-bubble {
          @include show;
        }

        .entity-edge-metric-value {
          @include show;
          fill: white;
          stroke: none;
          font-size: 0.8em;
          font-weight: 600;
          text-anchor: middle;
        }

        .edge-path {
          stroke-dasharray: none;
          stroke-width: 1.5px;
        }
      }
    }

    .entity-edge-arrow {
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}
