@import 'font';
@import 'color-palette';

:host {
  width: 100%;
}

.span-title {
  display: grid;
  grid-template-columns: 3px min-content min-content min-content auto;
  grid-template-rows: 1fr;
  column-gap: 4px;

  .color-bar {
    width: 100%;
    height: 16px;
    border-radius: 3px;
    align-self: center;
  }

  .service-name {
    @include body-1-medium();
    padding-left: 2px;
    display: flex;
    align-items: center;
  }

  .protocol-name {
    @include body-1-regular($gray-5);
    display: flex;
    align-items: center;
  }

  .span-name {
    @include body-1-regular($gray-5);
    min-width: 0;
    display: flex;
    align-items: center;
  }

  .text {
    @include ellipsis-overflow();
  }
}

.clickable {
  @include link-hover();
}
