@import 'font';
@import 'color-palette';

.ht-api-definition-request {
  display: flex;
  flex-direction: column;

  .title {
    @include font-subtitle-medium;
  }

  .container {
    flex: 1;
  }

  .param-table {
    margin-top: 24px;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

    .table {
      flex: 1 1 auto;
      margin-top: 8px;
    }
  }

  .request-body {
    margin-top: 24px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1 1 auto;
      margin-top: 8px;
      height: 100%;
      display: flex;
      flex-direction: column;

      .toggle-button {
        align-self: flex-end;
      }

      .body-viewer {
        width: 100%;
        flex: 1 1 auto;
        margin-top: 16px;
        padding: 16px;
        border: 1px solid $gray-1;
        border-radius: 4px;

        .json-viewer {
          height: 100%;
        }

        .raw {
          height: 100%;
        }
      }
    }
  }
}
