@import 'font';
@import 'color-palette';

.donut-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .donut-svg {
    .donut-value-title {
      dominant-baseline: hanging;
    }

    .donut-value {
      dominant-baseline: hanging;
    }
  }
}

.donut-arc {
  stroke: white;
  stroke-width: 0.5px;
}

.donut-value-title {
  text-anchor: middle;
  fill: $gray-4;
}

.donut-value {
  text-anchor: middle;
  fill: $gray-7;
}
