@import 'font';
@import 'color-palette';

.donut-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  // .chart-container {
  //   width: 100%;
  //   height: 100%;
  //   justify-content: none
  // }

  // .chart-visualization-container {
  //   flex: 1 1 auto;
  // }

  .donut-svg {
    .donut-value-title {
      font-size: 15px;
      dominant-baseline: hanging;
    }

    .donut-value {
      font-size: 64px;
      dominant-baseline: hanging;
    }
  }
}

.donut-arc {
  stroke: white;
  stroke-width: 2px;
}

.donut-value-title {
  text-anchor: middle;
  fill: $gray-4;
}

.donut-value {
  text-anchor: middle;
  fill: $gray-7;
}
