@import 'font';
@import 'color-palette';

.filter-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 36px;
  width: 100%;
  padding: 0 1px 0 8px;
  background: white;
  border: 1px solid $color-border;
  border-radius: 6px;

  &.focused {
    caret-color: $blue-5;
    border: 1px solid $blue-5;
    box-shadow: 0 1px 3px rgba(0, 83, 215, 0.16);

    &:hover {
      border: 1px solid $blue-5;
    }
  }

  &:hover {
    border: 1px solid $gray-4;
  }

  .content {
    display: flex;
  }

  .search-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 8px;
    color: $gray-4;
  }

  .filters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .filters {
    display: flex;
    flex: auto;
    flex-wrap: wrap;

    .filter {
      padding: 2px;
    }

    .filter-input {
      width: 100%;
      min-width: 24px;
      flex: 1;
    }
  }

  .clear-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
    color: $gray-4;

    &:hover {
      color: $gray-5;
    }
  }
}

.instructions {
  @include body-small($gray-4);
  @include ellipsis-overflow();
  font-size: 12px;
  padding-left: 40px;
  width: 100%;
}
