@import 'color-palette';
@import 'font';

$box-shadow: -3px 0px 24px rgba(0, 0, 0, 0.12), -1px 0px 8px rgba(0, 0, 0, 0.08);

.sheet-overlay {
  box-shadow: $box-shadow;
  border-radius: 16px 0 0 16px;
  height: 100%;
  width: 100%;
  overflow: hidden;

  padding: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 1;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;

    padding-bottom: 20px;

    .header-title {
      @include header-4($gray-7);
      margin: 0;
    }
  }

  .content-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;

    .content {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.attached-trigger {
  cursor: pointer;
  box-shadow: $box-shadow;
  clip-path: inset(-20px -20px 0px -20px);
  background: white;
  width: 220px;
  height: 40px;
  transform: translate(calc(-50% - 20px), 0px) rotate(270deg);
  position: relative;
  top: -50%;
  border-radius: 6px;

  display: flex;
  align-items: center;
  padding: 0px 12px;

  .trigger-icon {
    margin-right: 14px;
  }
}
