@import 'color-palette';
@import 'font';

.sheet-overlay {
  box-shadow: -3px 1px 24px rgba(0, 0, 0, 0.12), -1px -1px 8px rgba(0, 0, 0, 0.08);
  border-radius: 16px 0 0 16px;
  height: 100%;
  overflow: hidden;

  padding: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 1;

  &.sheet-size-responsive-extra-large {
    width: 100%;
  }

  &.sheet-size-small {
    width: 320px;
  }

  &.sheet-size-medium {
    width: 600px;
  }

  &.sheet-size-large {
    width: 840px;
  }

  &.sheet-size-extra-large {
    width: 1280px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;

    padding-bottom: 20px;

    .header-title {
      @include header-4($gray-7);
      margin: 0;
    }
  }

  .content-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;

    .content {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
