@use 'mixins' as m;

.splitter-container {
  @include m.fill-container();
  position: relative;
  display: flex;

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }

  .splitter-content {
    display: flex;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
  }

  .splitter-content > p {
    @include m.fill-container();
  }

  .splitter {
    /* Prevent the browser's built-in drag from interfering */
    user-select: none;
    padding: 6px;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    .background {
      @include m.fill-container();
      display: flex;
      align-items: center;
      justify-content: center;
      background: m.$gray-2;
      border-radius: 6px;
    }

    .cursor {
      @include m.fill-container();
    }

    &.horizontal {
      height: 100%;

      .cursor {
        height: 48px;
        width: 100%;
      }

      &:hover {
        cursor: col-resize;
      }
    }

    &.vertical {
      width: 100%;

      .cursor {
        width: 72px;
        height: 100%;
      }

      &:hover {
        cursor: row-resize;
      }
    }

    .cursor {
      background: m.$gray-5;
      border-radius: 14px;
    }
  }
}
