@import 'mixins';

.splitter {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Prevent the browser's built-in drag from interfering */
  user-select: none;

  &.horizontal {
    width: 4px;
    height: 100%;

    .cursor {
      width: 100%;
      height: 50px;
    }

    &:hover {
      cursor: col-resize;
    }
  }

  &.vertical {
    width: 100%;
    height: 4px;

    .cursor {
      width: 50px;
      height: 100%;
    }

    &:hover {
      cursor: row-resize;
    }
  }

  .cursor {
    background: #697278;
    border-radius: 14px;
  }
}
