@import 'color-palette';
@import 'font';

.label-tag {
  @include overline($gray-9);

  width: 46px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $gray-1;
  border-radius: 8px;
}
