@import 'color-palette';
@import 'font';

.label-tag {
  // Default color. Could be overridden by the component
  @include overline($gray-9);

  width: fit-content;
  height: 16px;
  padding: 3px 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  // Default color. Could be overridden by the component
  background-color: $gray-1;
  border-radius: 8px;
}
