@import 'color-palette';
@import 'font';

.label-tag {
  // Default color. Could be overridden by the component
  @include overline($gray-9);

  width: fit-content;
  height: 22px;
  padding: 3px 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  // Default color. Could be overridden by the component
  background-color: $blue-1;
  border-radius: 2px;

  .prefix-icon {
    margin-right: 4px;
  }
}
