@import 'font';
@import 'color-palette';

.ht-container-widget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    @include widget-title($gray-7);
    padding-bottom: 12px;
  }
}
