@import 'font';
@import 'color-palette';

.ht-container-widget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    height: 28px;
    @include overline($gray-5);
    padding-bottom: 16px;
  }

  .content {
    height: 100%;

    &.with-title {
      height: calc(100% - 28px);
    }
  }
}
