@import 'font';
@import 'color-palette';

$key-width: 40%;
$value-width: 60%;
$horizontal-offset: 12px;

@mixin grid-view {
  width: 100%;
  padding: 8px 0;
  display: grid;
  grid-template-columns: $key-width $value-width;
  align-content: center;
}

.list-view {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .header-row,
  .data-row {
    @include grid-view();
  }

  .header-row {
    height: 32px;
    background: $gray-1;
    box-shadow: inset 0px -1px 0px $gray-2;
    border-radius: 6px 6px 0px 0px;

    .header-key-label,
    .header-value-label {
      @include overline;
      padding: 0px $horizontal-offset;
      width: 100%;
    }
  }

  .data-row {
    @include font-placeholder();
    color: $gray-9;
    min-height: 40px;
    word-break: break-word;

    .key,
    .value {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0px $horizontal-offset;
    }
    .key {
      font-weight: 500;
    }
  }

  .data-row:nth-child(odd) {
    background: $gray-1;
  }
  .data-row:nth-child(even) {
    background: #fff;
  }
}
