@import 'color-palette';

.list-view {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .data-row {
    flex: 0 0 auto;
    min-height: 40px;
    width: 100%;
    word-break: break-word;
    padding: 8px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-style: normal;
    line-height: 18px;

    .key {
      flex: 1 1 auto;
      height: 100%;
      width: 40%;
      display: flex;
      align-items: center;
      margin-left: 12px;
      font-weight: 500;
    }

    .value {
      flex: 1 1 auto;
      height: 100%;
      width: 60%;
      display: flex;
      align-items: center;
      margin-left: 12px;

      /* identical to box height, or 120% */
      letter-spacing: -0.01em;
    }
  }

  .data-row:nth-child(odd) {
    background: $gray-1;
  }
  .data-row:nth-child(even) {
    background: #fff;
  }
}
