@import 'mixins';

.table-data-cell-renderer {
  display: flex;
  align-items: center;
  height: calc(100% - 8px); // subtract margin
  margin: 4px 4px;
  padding: 2px 8px;

  &.selected {
    background: $blue-1;
    border: 1px solid $blue-4;
    border-radius: 6px;
  }

  &:hover {
    .filter-button {
      display: inherit;
    }
  }

  .filter-button {
    display: none;
  }

  .cell-renderer-content {
    min-width: 0;
    width: 100%;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}
