@import 'color-palette';
@import 'font';

.ht-search-box {
  @include font-placeholder;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 8px;
  width: 100%;

  .icon {
    color: $gray-7;
    position: absolute;
    padding: 0 6px;
    cursor: pointer;
  }

  .close {
    color: $gray-5;
    right: 0;
  }

  &.focused {
    caret-color: $blue-5;
    border: 1px solid $blue-5;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 83, 215, 0.16);

    &:hover {
      border: 1px solid $blue-5;
    }
  }

  &:hover {
    border: 1px solid $gray-4;
  }

  .input {
    @include body-1-regular($gray-9);
    height: 34px;
    line-height: 34px;
    width: 420px;
    background: transparent;
    border: 1px solid transparent;
    padding-left: 28px;
    padding-right: 36px;
    border-radius: 4px;

    &::placeholder {
      @include body-1-regular($gray-7);
      line-height: 30px;
    }

    &:focus {
      outline: none;
    }
  }
}

.border {
  border: 1px solid $color-border;
  border-radius: 6px;
}

.no-border {
  &:hover {
    border: none;
  }
}
