@use 'mixins' as m;

$input-height: 34px;

.input-pill-list {
  @include m.fill-container();
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: inherit;
  padding: 8px 8px 8px 0;

  .header {
    @include m.fill-container();

    .primary-input {
      border: 1px solid m.$gray-9;
    }
  }

  .input {
    height: $input-height;
    align-items: center;
    width: 100%;
    line-height: $input-height;
    border-radius: 8px;
    background: transparent;
    display: block;
  }

  .pill-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 8px;
    background-color: white;
    border: 1px solid m.$gray-1;
    border-radius: 8px;
    padding: 8px;

    .pill {
      @include m.body-small(m.$gray-9);
      align-items: center;
      background-color: m.$blue-1;
      display: flex;
      justify-content: space-between;
      gap: 4px;
      border: 1px solid m.$gray-5;
      border-radius: 8px;
      padding-right: 4px;

      .close-icon {
        cursor: pointer;
      }
    }
  }
}
