@import 'font';
@import 'color-palette';

.trace-detail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .back {
    display: flex;
    align-items: center;
    color: $color-text-emphasis;

    .arrow {
      cursor: pointer;
    }

    .label {
      cursor: pointer;
      margin-left: 8px;

      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.02em;
    }
  }

  .title {
    @include font-page-heading-large($color-text);
    margin-top: 12px;
  }

  .summary-row {
    display: flex;
    align-items: center;

    .separation {
      flex: 1 1 auto;
    }

    .full-trace-button {
      margin-left: 8px;
    }
  }

  .summary-value {
    margin-right: 24px;
  }
}
