:host {
  min-width: 0;
}

.description {
  display: flex;
}

.description-text {
  margin-right: 6px;
}

.description-button {
  cursor: pointer;
  text-decoration: underline;
  white-space: nowrap;
}

.truncated-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
