@import 'mixins';

.table-header-cell-renderer {
  @include ellipsis-overflow();
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0 6px;
  &.sortable {
    cursor: pointer;
  }

  &:hover {
    color: $gray-9;
  }

  .options-button {
    display: inherit;
    color: $gray-7;
    cursor: pointer;

    &:hover {
      color: $blue-5;
    }
  }

  .title {
    @include overline($gray-5);

    min-width: 0;
    flex: 1 1 auto;
    display: flex;

    &.left {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: flex-end;
    }

    .sort-icon {
      margin-left: 4px;
      color: $gray-9;
    }
  }

  .state-checkbox {
    margin-left: 6px;
  }
}

.popover-content {
  @include dropdown();
  padding: 4px 0;

  .popover-item {
    width: 100%;
    height: 36px;
    padding: 0 16px;
    cursor: pointer;

    display: flex;
    align-items: center;

    &:hover {
      background: $gray-1;
    }
  }

  .popover-item-divider {
    width: calc(100% - 32px);
    height: 1px;
    padding: 0 16px;
    margin: 0 16px;
    background-color: $gray-2;
  }

  .popover-item-icon {
    padding-left: 4px;
  }
}
