@import 'color-palette';
@import 'font';

:host {
  width: 100%; // Sorry...
}

.table-header-cell-renderer {
  @include ellipsis-overflow();
  @include overline($gray-5);
  display: flex;

  &.sortable {
    cursor: pointer;
  }

  &:hover {
    color: $gray-9;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  .filter-button {
    display: none;
  }

  &:hover {
    .filter-button {
      display: inherit;
    }
  }

  .title {
    min-width: 0;
    width: 100%;

    &:after {
      display: inline-block;
    }

    &.desc:after {
      content: '▼';
      font-size: 9px;
    }

    &.asc:after {
      content: '▼';
      font-size: 10px;
      transform: scale(1, -1) translateY(-1.5px); // That's right! Half pixels!
    }
  }
}
