@import 'mixins';

:host {
  width: 100%; // Sorry...
}

.table-header-cell-renderer {
  @include ellipsis-overflow();
  @include overline($gray-5);
  display: flex;

  &.sortable {
    cursor: pointer;
  }

  &:hover {
    color: $gray-9;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  .options-button {
    display: none;
    color: $gray-7;
    cursor: pointer;

    &:hover {
      color: $blue-5;
    }
  }

  &:hover {
    .options-button {
      display: inherit;
    }
  }

  .title {
    min-width: 0;
    width: 100%;

    &.asc,
    &.desc {
      color: $gray-9;
    }

    &:after {
      display: inline-block;
    }

    &.desc:after {
      content: '▼';
      font-size: 9px;
    }

    &.asc:after {
      content: '▼';
      font-size: 10px;
      transform: scale(1, -1) translateY(1.5px); // That's right! Half pixels!
    }
  }
}

.popover-content {
  @include dropdown();
  padding: 4px 0;

  .popover-item {
    width: 100%;
    height: 36px;
    padding: 0 16px;
    cursor: pointer;

    display: flex;
    align-items: center;

    &:hover {
      background: $gray-1;
    }
  }

  .popover-item-divider {
    width: calc(100% - 32px);
    height: 1px;
    padding: 0 16px;
    margin: 0 16px;
    background-color: $gray-2;
  }

  .popover-item-icon {
    padding-left: 4px;
  }
}
