@import 'color-palette';

.expander-toggle {
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $gray-4;
  border-radius: 2px;
}

.expander-toggle:hover {
  color: $gray-5;
}

.collapse {
  color: $gray-7;

  &:hover {
    color: $gray-7;
  }
}
