@import 'color-palette';

.expander-toggle {
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $gray-3;
  border-radius: 2px;
}

.expander-toggle:hover {
  color: $gray-5;
}

.expanded-toggle {
  color: $gray-7;
}
