@import 'font';
@import 'color-palette';
@import 'layout';

.custom-dashboards {
  @include scrollable-container(16px);
  padding: 25px 20px;
  height: 94vh;
  display: flex;
  flex-direction: column;
  ::ng-deep {
    ht-load-async-wrapper {
      flex: 1;
    }
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    h2 {
      margin: 0;
    }
  }

  .create-dashboard-button {
    display: block;
    display: flex;
    justify-content: flex-end;
  }

  .search-box {
    margin-bottom: 15px;
    display: block;
  }
  .dashboard-table {
    height: 100%;
  }
}
