@import 'font';

.explorer-container {
  display: flex;
  flex-direction: column;

  .filter-bar {
    margin-top: 16px;
  }

  .panel-title {
    color: black;
  }

  .visualization-panel {
    padding-top: 8px;

    .label {
      @include body-1-medium;
    }

    .visualization-panel-content {
      .visualization-dashboard {
        // TODO figure out how to get this to grow
        display: block;
        height: 240px;
      }
    }
  }

  .results-panel {
    overflow: hidden;

    .label {
      @include body-1-medium;
    }

    .results-panel-content {
      margin-top: 12px;
    }
  }
}
