@import 'font';
@import 'layout';

.explorer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  .explorer-header {
    flex: 0;
  }

  .explorer-content {
    @include scrollable-container(24px);
    display: flex;
    flex-direction: column;
  }

  .explorer-data-toggle {
    flex: 0;
    padding: 24px 24px 16px;
  }

  .explorer-filter-bar {
    flex: 0;
    padding: 0 24px 8px;
  }

  .panel-title {
    color: black;
  }

  .visualization-panel {
    flex: 0;

    .label {
      @include body-1-medium;
    }

    .visualization-panel-content {
      .visualization-dashboard {
        display: block;
        height: 224px;
      }
    }
  }

  .results-panel {
    flex: 1;

    .label {
      @include body-1-medium;
    }
  }
}
