@import 'font';

.explorer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  .explorer-header {
    flex: 0;
  }

  .explorer-content {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 0;
    flex: 1;
    min-height: 0;
  }

  .explorer-data-toggle {
    flex: 0;
    padding-bottom: 16px;
  }

  .explorer-filter-bar {
    flex: 0;
    padding-bottom: 8px;
  }

  .panel-title {
    color: black;
  }

  .visualization-panel {
    flex: 0;

    .label {
      @include body-1-medium;
    }

    .visualization-panel-content {
      .visualization-dashboard {
        display: block;
        height: 224px;
      }
    }
  }

  .results-panel {
    flex: 1;
    overflow: hidden;

    .label {
      @include body-1-medium;
    }

    .results-panel-content {
      padding-top: 12px;
    }
  }
}
