@import 'color-palette';
@import 'font';

:host {
  width: 100%;
  height: 100%;

  ::ng-deep {
    .axis-section line {
      stroke: $gray-1;
      stroke-width: 1;
    }

    .sequence-chart-svg {
      box-shadow: inset 2px 0 4px 0px $gray-1;
      border-left: 1px solid $gray-1;
    }

    .axis-section .axis-header {
      fill: $gray-1;
      border-radius: 0 4px 0 0;
    }

    .axis-section path {
      stroke-width: 0;
    }

    .axis-section .tick:nth-child(3) {
      opacity: 0;
    }

    .axis-section .tick:nth-last-child(1) {
      opacity: 0;
    }

    .axis-line {
      @include axis-title();
    }

    .data-row {
      cursor: pointer;

      .backdrop {
        fill-opacity: 0;
      }

      .backdrop-border-top {
        stroke-width: 0;
      }

      .backdrop-border-bottom {
        stroke: $gray-2;
        stroke-width: 1;
      }
    }

    .hovered-row {
      .backdrop {
        fill-opacity: 100;
        fill: $gray-1;
      }
    }

    .selected-row {
      .backdrop {
        fill-opacity: 100;
        fill: $blue-1;
      }

      .backdrop-border-top {
        stroke: $blue-2;
        stroke-width: 1;
      }

      .backdrop-border-bottom {
        stroke: $blue-2;
        stroke-width: 1;
      }

      &.hovered-row {
        .backdrop {
          fill-opacity: 100;
          fill: $blue-2;
        }

        .backdrop-border-top {
          stroke: $blue-5;
          stroke-width: 1;
        }

        .backdrop-border-bottom {
          stroke: $blue-5;
          stroke-width: 1;
        }
      }
    }
  }
}

.htc-sequence-chart {
  width: 100%;
  height: 100%;
}
