@import 'color-palette';
@import 'font';

.page-header {
  display: flex;
  flex-direction: column;
  margin: 24px 24px 0;

  .column-alignment {
    display: flex;
    flex-direction: column;
  }

  .row-alignment {
    display: flex;
    justify-content: space-between;
  }

  .primary-row {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .breadcrumb-container {
    align-items: center;
    margin-right: auto;

    .breadcrumb-separator {
      padding: 0 20px;
    }

    .title {
      @include font-subtitle-medium($gray-7);
      align-items: center;
      display: flex;

      .icon {
        padding-right: 12px;
      }

      .beta {
        margin-left: 12px;
      }
    }
  }

  .time-range {
    align-items: center;
    display: flex;
    margin-left: 10px;
  }

  .row-alignment {
    display: flex;
    justify-content: space-between;
  }

  &.bottom-border {
    border-bottom: 1px solid $color-border;
    padding-bottom: 16px;
  }

  .tabs {
    padding-top: 16px;
  }

  .refresh-only-button {
    display: block;
    margin-left: 8px;
  }
}
