@import 'color-palette';
@import 'font';

.page-header {
  margin: 24px 24px 0;
  display: flex;
  flex-direction: column;
  .column-alignment {
    display: flex;
    flex-direction: column;
  }

  .row-alignment {
    display: flex;
    justify-content: space-between;
  }

  .primary-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .breadcrumb-container {
      margin-right: auto;
      align-items: center;

      .breadcrumb-separator {
        padding: 0 20px;
      }

      .title {
        @include font-subtitle-medium($gray-7);
        display: flex;
        align-items: center;

        .icon {
          padding-right: 12px;
        }

        .beta {
          margin-left: 12px;
        }
      }
    }

    .time-range {
      margin-left: 10px;
    }
  }

  .row-alignment {
    display: flex;
    justify-content: space-between;
  }

  &.bottom-border {
    padding-bottom: 16px;
    border-bottom: 1px solid $color-border;
  }

  .tabs {
    padding-top: 16px;
  }
}
