@import 'mixins';

.metric-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
  border-radius: 6px;
  gap: 4px;
  justify-content: space-between;

  .indicator-and-title {
    display: flex;
    align-items: center;
    gap: 6px;

    .indicator {
      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }

    .title-text {
      @include chart-small-regular($gray-7);
      text-transform: uppercase;
    }

    .large-title-text {
      @include body-1-medium($gray-7);
      text-transform: capitalize;
    }
  }

  .value-and-icon {
    margin: 0 14px;
    display: flex;
    justify-content: space-between;

    .value {
      @include header-5($gray-7);
    }

    .large-value {
      @include header-4($gray-7);
    }
  }
}

.large-card {
  padding: 16px 0;
}

.clickable {
  @include card-hover;
}
