@import 'mixins';

.metric-card {
  @include frame-border;
  border-radius: 6px;

  .card-with-indicator {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;

    .indicator-and-title {
      display: flex;
      align-items: center;
      gap: 6px;

      .indicator {
        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }

      .title-text {
        @include chart-small-regular($gray-7);
        text-transform: uppercase;
      }
    }

    .value {
      @include header-5($gray-7);
      margin-left: 14px;
    }
  }

  .card-with-large-icon {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .value-with-text {
      display: flex;
      flex-direction: column;
      margin: 16px;
      justify-content: space-between;

      .value {
        @include header-4($gray-9);
      }

      .text {
        @include body-1-medium($gray-5);
      }
    }

    .icon {
      align-self: baseline;
      margin: 20px 24px 0 0;
    }
  }
}

.clickable {
  cursor: pointer;
}
