@import 'font';
@import 'color-palette';

.query-editor {
  display: flex;
  justify-content: space-between;

  .divider-container {
    display: flex;
    align-items: center;

    .divider {
      height: calc(100% - 48px);
      margin: 48px 24px 0;
      border: 1px solid $color-border;
    }
  }

  .query-level-config {
    display: flex;

    > :not(:first-child) {
      margin-left: 24px;
    }
  }
}
