@use 'mixins' as m;
@import 'interaction';

.menu-popover-container {
  width: 100%;
  height: 100%;
}

.menu-container {
  width: 100%;
  height: 100%;
}

.trigger-content {
  @include disableable;
  @include m.body-2-regular();
  font-weight: 500;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
  height: 34px;

  .trigger-label:not(:last-child) {
    margin-right: 8px;
  }

  &:hover {
    background-color: m.$gray-2;
    border-radius: 50%;
  }

  &.labeled:hover {
    border-radius: 6px;
  }
}

.dropdown-content {
  @include popover-menu-content;
}
