@import "mixins";

.time-picker {
  display: flex;

  .time-selector {
    @include body-1-medium($gray-7);
    height: 32px;
    border: 1px solid $gray-1;
    background: $gray-1;
    border-radius: 4px;
  }
}

.popover-trigger {
  @include body-1-medium($gray-7);
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  cursor: pointer;

  .trigger-icon {
    padding: 0 8px;
  }

  .trigger-caret {
    padding: 0 8px;
  }

  .trigger-label {
    padding-left: 8px;
    flex: 1 1 auto;
  }
}

.popover-content {
  border: 1px solid $gray-1;
  background: white;
  overflow: auto;
  max-height: 320px;

  .popover-item {
    @include list-hover;
    @include body-1-medium($gray-7);
    display: flex;
    align-items: center;
    height: 36px;
    padding: 12px;

    &.selected {
      background: $blue-1;
    }
  }
}
