@import 'color-palette';
@import 'font';

.ht-entity-renderer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: inherit;
  @include body-1-regular();

  .icon {
    padding-right: 12px;
  }

  .name {
    @include ellipsis-overflow();
  }
}

.navigable {
  @include link-hover();
}
