@import 'color-palette';
@import 'font';

.ht-entity-renderer {
  display: flex;
  width: 100%;
  height: 100%;

  .name-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: inherit;

    .icon {
      padding-right: 12px;
    }

    .name {
      @include ellipsis-overflow();
    }
  }
}

.default-text-style {
  color: $gray-9;
  @include body-1-regular(currentColor);
}
