@import 'color-palette';
@import 'font';

.endpoint {
  display: flex;
  align-items: center;
  .endpoint-value {
    @include body-1-regular($gray-7);
    @include ellipsis-overflow();
    &:hover {
      color: $blue-5;
    }
  }
  .error-icon {
    margin: 0 5px;
  }
}
