@import 'mixins';

@mixin grouped-style($color) {
  box-shadow: 0 3px 0 -1px $color, 0 4px 0 -1px $gray-2;
}

.ht-card-list {
  display: flex;
  flex-direction: column;
  padding-left: 1px;
  padding-right: 1px;

  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
  }

  .card {
    border-radius: 8px;
    border: 1px solid $gray-2;
    margin-bottom: 8px;

    @include card-hover();

    &.selected-card {
      background: $gray-1;
      border: 1px solid $blue-2;

      &.grouped-style {
        margin-bottom: 8px;
        @include grouped-style($gray-1);
      }

      &:hover {
        &.grouped-style {
          margin-bottom: 8px;
          @include grouped-style($blue-2);
        }
      }
    }

    &.grouped-style {
      margin-bottom: 8px;
      @include grouped-style($gray-1);
    }
  }

  .list {
    &:first-child {
      margin-top: 12px;
    }
  }
}
