@import 'mixins';

.ht-card-list {
  display: flex;
  flex-direction: column;
  padding-left: 1px;
  padding-right: 1px;

  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
  }

  .card {
    border-radius: 8px;
    border: 1px solid $gray-2;
    margin-bottom: 8px;
    @include card-hover;

    &.selected-card {
      background: $blue-1;
      border: 1px solid $blue-2;

      &:hover {
        background: $blue-2;
        border: 1px solid $blue-5;
      }
    }

    &:hover {
      background: $gray-1;
      border: 1px solid $gray-2;
    }
  }

  .list {
    &:first-child {
      margin-top: 12px;
    }
  }
}
