@import 'color-palette';
@import 'font';

.back {
  display: flex;
  align-items: center;
  color: $color-text-emphasis;
  cursor: pointer;
  gap: 8px;

  .label {
    @include body-2-medium($color-text-emphasis);
  }
}
