@import 'color-palette';
@import 'font';

.back {
    display: flex;
    height: 26px;
    width: 64px;
    align-items: center;
    color: $color-text-emphasis;
    cursor: pointer;

    .label {
      @include body-2-medium($color-text-emphasis);
      margin-left: 8px;
    }
  }