@import 'color-palette';

$font-family: 'Work Sans', sans-serif;

@mixin font-metric-large($color: $color-text) {
  color: $color;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.04em;
}

@mixin font-metric-script($color: $gray-5) {
  @include body-small($color);
}

@mixin font-page-heading-large($color: $gray-7) {
  color: $color;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.02em;
}

@mixin font-heading($color: $gray-7) {
  color: $color;
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;
  @include ellipsis-overflow;
}

@mixin font-title {
  color: $gray-9;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

@mixin font-placeholder {
  color: $gray-5;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
}

@mixin font-expandable-table-cell {
  color: $color-text;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
}

@mixin font-span-detail-header {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: $color-text;
}

@mixin font-left-nav-label {
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
}

@mixin font-tab-label {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: $color-text;
}

@mixin font-subtitle-medium($color: #000000) {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: $color;
}

@mixin font-label {
  color: $color-text-label;
  font-size: 12px;
}

@mixin ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  overflow: -webkit-paged-x; // For safari
  text-overflow: ellipsis;
}

@mixin link {
  color: $blue-5;
  cursor: pointer;
}

@mixin link-hover($isSvg: false) {
  &:hover {
    @include link;

    @if ($isSvg) {
      fill: currentColor;
    }
  }
}

%semibold {
  font-weight: 600;
}

%medium {
  font-weight: 500;
}

%regular {
  font-weight: normal;
}

%body-1 {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.01em;
}

%body-2 {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
}

%footnote {
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

@mixin semi-bold() {
  @extend %semibold;
}

@mixin weight-medium() {
  @extend %medium;
}

@mixin header-large($color: $gray-9) {
  font-style: normal;
  font-weight: 600;
  color: $color;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.01em;
}

@mixin header-1($color: $gray-9) {
  @extend %regular;
  color: $color;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
}

@mixin header-2($color: $gray-9) {
  @extend %regular;
  color: $color;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

@mixin header-3($color: $gray-9) {
  @extend %medium;
  color: $color;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

@mixin header-4($color: $gray-9) {
  @extend %semibold;
  color: $color;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
}

@mixin subtitle-1($color: $gray-5) {
  @extend %medium;
  color: $color;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

@mixin subtitle-2($color: $gray-5) {
  @extend %medium;
  color: $color;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
}

@mixin body-1-regular($color: $gray-9) {
  @extend %body-1;
  @extend %regular;
  color: $color;
}

@mixin body-1-medium($color: $gray-9) {
  @extend %body-1;
  @extend %medium;
  color: $color;
}

@mixin body-1-semibold($color: $gray-9) {
  @extend %body-1;
  @extend %semibold;
  color: $color;
}

@mixin body-2-regular($color: $gray-9) {
  @extend %body-2;
  @extend %regular;
  color: $color;
}

@mixin body-2-medium($color: $gray-9) {
  @extend %body-2;
  @extend %medium;
  color: $color;
}

@mixin body-2-semibold($color: $gray-9) {
  @extend %body-2;
  @extend %medium;
  color: $color;
}

@mixin body-small($color: $gray-9) {
  @extend %regular;
  color: $color;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.02em;
}
@mixin footnote($color: $gray-9) {
  @extend %footnote;
  @extend %regular;
  color: $color;
}

@mixin code($color: $gray-9) {
  @extend %regular;
  color: $color;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.01em;
}

@mixin overline($color: $gray-9) {
  @extend %semibold;
  color: $color;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
}

@mixin chart-small-regular($color: $gray-9) {
  @extend %regular;
  color: $color;
  font-size: 12px;
  line-height: 12px;
}

@mixin widget-title($color: $gray-9) {
  @extend %semibold;
  color: $color;
  font-size: 12px;
  line-height: 12px;
}

@mixin axis-title($color: $gray-9) {
  @include chart-small-regular;
}
