@import 'color-palette';

@mixin list-hover {
  &:hover {
    background: $gray-1;
    cursor: pointer;
  }
}

@mixin card-hover {
  &:hover {
    @include box-shadow-2dp();
    cursor: pointer;
  }
}

@mixin raised-shadow-hover {
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 8px 20px rgba(63, 71, 74, 0.16), 0 2px 12px rgba(63, 71, 74, 0.08), 0 1px 8px rgba(63, 71, 74, 0.08);
    transform: scale(1.01, 1.01);
  }
}

@mixin filter-box-shadow {
  @include box-shadow-2dp();
}

@mixin box-shadow-2dp {
  box-shadow: 2px 2px 2px rgba(225, 228, 229, 0.5), 2px -2px 4px rgba(225, 228, 229, 0.2),
    0px 2px 4px rgba(225, 228, 229, 0.2);
}

@mixin dropdown-box-shadow {
  box-shadow: 0 1px 4px rgba($gray-7, 0.16), 0 3px 4px rgba($gray-7, 0.08), 0 2px 5px rgba($gray-7, 0.16);
}

@mixin dropdown($radius: 4px) {
  @include dropdown-box-shadow();
  width: inherit;
  border-radius: $radius;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  left: 1px; // To visually center while accounting for margin
  margin: 1px 0; // Keeps the dropdown from covering the trigger border
}

@mixin popover-menu-content {
  margin-top: 4px;
  background: white;
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 3px 8px rgba(0, 0, 0, 0.08);
  min-width: 140px;
  padding-top: 4px;
  padding-bottom: 4px;
}

@mixin popover-menu-item {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 16px;
  margin-top: 4px;
  margin-bottom: 4px;

  @include list-hover;
}

@mixin top-bar-light-button-background {
  background-color: white;

  &:hover {
    background-color: $gray-1;
  }
}

@mixin top-bar-light-button-foreground {
  @include body-1-medium($gray-8);
}

@mixin top-bar-dark-button-background {
  background-color: $gray-6;

  &:hover {
    background-color: $gray-5;
  }
}

@mixin top-bar-dark-button-foreground {
  @include body-1-medium(white);
}

@mixin disableable {
  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

@mixin time-range-button-background {
  background-color: white;

  &:hover {
    background-color: $gray-1;
  }
}
