@import 'color-palette';

@mixin list-hover {
  &:hover {
    background: $gray-1;
    cursor: pointer;
  }
}

@mixin card-hover {
  &:hover {
    @include dropdown-box-shadow();
    cursor: pointer;
  }
}

@mixin filter-box-shadow {
  box-shadow: 2px 2px 2px rgba(225, 228, 229, 0.5), 2px -2px 4px rgba(225, 228, 229, 0.2),
    0px 2px 4px rgba(225, 228, 229, 0.2);
}

@mixin dropdown-box-shadow {
  box-shadow: 0 1px 4px rgba($gray-7, 0.16), 0 3px 4px rgba($gray-7, 0.08), 0 2px 5px rgba($gray-7, 0.16);
}

@mixin dropdown($radius: 4px) {
  @include dropdown-box-shadow();
  width: inherit;
  border-radius: $radius;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  left: 1px; // To visually center while accounting for margin
  margin: 1px 0; // Keeps the dropdown from covering the trigger border
}
