@import 'color-palette';

@mixin scoring-config {
  display: grid;
  padding: 16px 0;
  grid-template-columns: 10px 200px 48px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
}

@mixin dot {
  background-color: $blue-9;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

@mixin score-input {
  height: 32px;
  width: 48px;
}

@mixin severity-background-color($color) {
  background-color: $color;
}
