@import 'mixins';

.opaque-backdrop {
  background: $gray-7;
  opacity: 0.62 !important;
}

@for $i from 1 through length($red-colors) {
  .color-red-#{$i} {
    color: nth($red-colors, $i) !important;
  }
}

@for $i from 1 through length($orange-colors) {
  .color-orange-#{$i} {
    color: nth($orange-colors, $i) !important;
  }
}

@for $i from 1 through length($yellow-colors) {
  .color-yellow-#{$i} {
    color: nth($yellow-colors, $i) !important;
  }
}

@for $i from 1 through length($green-colors) {
  .color-green-#{$i} {
    color: nth($green-colors, $i) !important;
  }
}

@for $i from 1 through length($blue-colors) {
  .color-blue-#{$i} {
    color: nth($blue-colors, $i) !important;
  }
}

@for $i from 1 through length($blue-gray-colors) {
  .color-blue-gray-#{$i} {
    color: nth($blue-gray-colors, $i) !important;
  }
}

@for $i from 1 through length($purple-colors) {
  .color-purple-#{$i} {
    color: nth($purple-colors, $i) !important;
  }
}

@for $i from 1 through length($gray-colors) {
  .color-gray-#{$i} {
    color: nth($gray-colors, $i) !important;
  }
}

@for $i from 1 through length($cloud-colors) {
  .color-cloud-#{$i} {
    color: nth($cloud-colors, $i) !important;
  }
}

@for $i from 1 through length($brown-colors) {
  .color-brown-#{$i} {
    color: nth($brown-colors, $i) !important;
  }
}
