@import 'mixins';

.ht-panel-title-with-action {
  @include subtitle-2;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  padding: 8px 12px;

  .label {
    margin-left: 10px;
    flex: 1;
  }

  &:hover {
    background: $gray-1;
    cursor: pointer;
  }

  .action {
    justify-self: end;

    .button {
      width: 32px;
      height: 32px;
      display: grid;
      place-items: center;
      border: 1px solid $gray-2;
      border-radius: 6px;
    }
  }
}
