@use 'mixins' as m;

.group-by-container {
  display: flex;
  flex-direction: row;
  gap: 24px;

  .group-by-input-container {
    display: flex;
    flex-direction: column;

    .group-by-label {
      @include m.body-1-medium(m.$gray-9);
      @include m.ellipsis-overflow();
      height: 32px;
      line-height: 32px;
      margin-bottom: 12px;
      white-space: nowrap;
      width: 192px;
    }

    .group-by-path-wrapper {
      width: 100%;

      .group-by-path-input {
        @include m.body-2-regular(m.$gray-9);
        width: 100%;
        height: 100%;
        line-height: 32px;
      }
    }
  }
}
